/* Variáveis de cores diretamente da raiz */
:root {
    --main-color: #8c5e32;
    --black: #8c5e32;
    --bg: #000000;
    --border: 0.1rem solid #8c5e32;
    --font-size: 15px;
    --font-weight: "Roboto", sans-serif; /* A propriedade font-weight deve estar dentro de aspas */
}

/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0; 
    outline: none; 
    border: none;
    text-decoration: none; 
    text-transform: capitalize; /* Deixando todas as iniciais maiúsculas */
    transition: 0.2s linear; /* Animação para cada transição */
}

/* Padronizando o corpo */
body {
    background-color: var(--bg);
}

/* Estilizando o cabeçalho */
.header {
    position: fixed; /* Mantendo o menu fixo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--main-color);
    background-color: var(--bg);
}

/* Estilizando a seção dentro do cabeçalho */
.header section {
    display: flex;
    align-items: center; /* Alinhando os itens no centro */
    justify-content: space-between; /* Criando um espaçamento entre os itens */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Estilizando os links do menu */
.navbar a {
    margin: 0 0.8rem;
    font-size: 1.3rem;
    color: #ffff;
}

/* Estilizando o efeito hover nos links */
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

/* Layout flexível usando Flexbox */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilizando o conteúdo */
.content {
    flex: 1 1 60%;
    padding: 20px;
}

/* Estilizando a barra lateral */
.sidebar {
    flex: 1 1 30%;
    padding: 20px;
    background-color: #f1f1f1;
}

/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
    .menu a {
        display: none;
    }
    .menu a.icon {
        float: right;
        display: block;
    }
    .menu.responsive {
        position: relative;
    }
    .menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Estilos para imagens responsivas */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos específicos para o conteúdo */
.content {
    max-width: 30.8rem;
    text-transform: capitalize;
    align-items: center;
}

/* Estilos para o texto */
.content h3 {
    color: #ffff;
    font-size: 2rem;
    text-transform: uppercase;
    margin-right: 2rem;
}

.content p {
    color: #ffff;
    font-size: 1rem;
    font-weight: 40;
    padding: 1rem 0;
}

/* Estilizando botões */
.btn {
    background: var(--main-color);
    color: #000000;
    padding: 1rem 3rem;
    font-size: 1.0rem;
    cursor: pointer;
    margin: 1rem;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}
.btn-container {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #000000; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.btn .btn-container:hover {
    background-color: #6c4730; /* Cor de fundo ao passar o mouse */
}


/* Estilizando o container 1 */
.home-container {
    background: url("./img/img-home.jpg");
    background-position: center;
    background-size: cover;
    margin: 1rem;
    cursor: pointer;
    height: 100vh;
    
}

/* Parte do texto dentro do container */
.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/* Estilizando os textos */
.content {
    max-width: 30.8rem;
    text-transform: capitalize;
    align-items: center;
}

/* Estilos adicionais para o preço 35 */
.price-35 {
    display: inline-block;
    margin-left: auto;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilizando os cards */
.card {
    flex: 1 0 1 50%;
    max-width: calc(200% - 20rem);
    border: 1px solid var(--black);
    border-radius: 1px;
    padding: 2rem;
    text-align: center;
    margin: 0.4rem;
    color: #ffffff;
}

.card img {
    display: block;
    margin: 0 auto 3rem;
    width: 50px;
    height: 50px;
    border-left: 1rem;
}

.card-header strong {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
}

.card-header h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

.card-body p {
    font-size: 1.3rem;
    margin-bottom: 0;
    color: var(--black);
}

.card:hover {
    background-color: var(--main-color);
    color: var(--white);
}

/* Estilos para a seção 'Sobre Nós' */
.title {
    font-size: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 10rem;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adicionando uma sombra para efeito de profundidade */
    perspective: 1000px; /* Adicionando perspectiva para o efeito 3D */
    animation: rotateTitle 2s ease-in-out infinite alternate; /* Adicionando animação de rotação */}


.title span {
    font-size: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 4rem;
    text-align: center;
    animation: zoomSubtitle 2s ease-in-out infinite alternate; /* Adicionando animação de zoom */
}


.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 4.5rem;
}

.about .row .content {
    padding: 3rem;
    margin: 1;
}

.about .row .content h3 {
    
    color: #ffff;
    font-size: 3rem;
    text-transform: uppercase;
    margin-right: 1rem;

}

/* Estilizando a tabela */
.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    margin: 0 auto; /* Adicionando margem auto para centralizar horizontalmente */
}

.card-tabela {
    padding: 1rem;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 800px; /* Definindo uma largura máxima para a tabela */
}

.card-tabela table {
    width: 100%; /* Definindo a largura da tabela como 100% para ocupar todo o espaço disponível */
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    align-items: center;
}

/* Estilizando a tabela (continuação) */
.card-tabela table {
    border-collapse: collapse;
}

.card-tabela table th,
.card-tabela table td {
    padding: 1.5rem;
    border-bottom: 3px solid var(--main-color);
    text-align: left;
    font-weight: bold;
}

.card-tabela table th {
    font-weight: bold;
}

.card-tabela table tr:last-child td {
    border-bottom: none;
}

.card-tabela table tr:hover {
    background-color: rgba(140, 94, 50, 0.2);
}

/* Estilos para os cards da seção 'Review' */
.review .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 2rem;
    color: #ffffff;
    flex: 1 1 300px; /* Tornando os boxes flexíveis e com largura máxima de 300px */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review .box-container .box p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.review .box-container .box h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.user .review .box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.review .box-container .box .user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-bottom: 1rem;
}

.review .box-container .box .user span {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 0.5rem;
    display: block;
}

.
.address {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alterado para centralizar verticalmente */
    margin-top: 5rem;
    align-items: center; /* Centraliza os elementos verticalmente */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
}

.address-container {

    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.map {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.booking-form {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 45%; /* Definindo a largura para 45% */
    margin-left: auto; /* Centralizando horizontalmente */
    margin-right: auto; /* Centralizando horizontalmente */
    margin-top: 5rem;
}


.booking-form h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="date"],
.booking-form input[type="time"],
.booking-form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.booking-form button {
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-form button:hover {
    background-color: #4CAF50;
}

/* Estilos para o rodapé */
.footer .share {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.footer .share img {
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--main-color);
}
