/* Variáveis de cores diretamente da raiz */
:root {
    --main-color: #8c5e32;
    --black: #555558;
    --bg: #000000;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --font-size: 10px;
    --font-weight: "Roboto", sans-serif; /* A propriedade font-weight deve estar dentro de aspas */
}

/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0; 
    outline: none; 
    border: none;
    text-decoration: none; 
    text-transform: capitalize; /* Deixando todas as iniciais maiúsculas */
    transition: 0.2s linear; /* Animação para cada transição */

}

/* Padronizando o corpo */
body {
    background-color: var(--bg);
}

/* Padronizando nossas seções */
section {
    padding: 3rem 2rem;
    margin: 0 auto; /* Centralizando na página */
    max-width: 1200px;
}
/* Estilos para telas maiores que 768px */
@media screen and (min-width: 768px) {
    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .content {
        max-width: 60rem;
    }
}

/* Estilizando o cabeçalho */
.header {
    position: fixed; /* Mantendo o menu fixo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--main-color);
    background-color: var(--bg);
}

/* Estilizando a seção dentro do cabeçalho */
.header section {
    display: flex;
    align-items: center; /* Alinhando os itens no centro */
    justify-content: space-between; /* Criando um espaçamento entre os itens */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Estilizando os links do menu */
.navbar a {
    margin: 0 0.8rem;
    font-size: 1.3rem;
    color: #ffff;
}

/* Estilizando o efeito hover nos links */
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

/* Estilizando o efeito dos ícones do menu */
.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}
.btn {
    background: var(--main-color);
    color: #f3ecec;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin: 1rem;
    display: inline-block;
}

/* Estilizando o container 1 */
.home-container {
    background: url("./img/img-home.jpg");
    background-position: center; /* Estilizando o efeito do fundo */
    background-size: cover; /* Estilizando o efeito para pegar toda a página */
    margin: 1rem;
    cursor: pointer;
    height: 100vh;
}

/* Parte do texto que vai aparecer no container e botão*/
.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh; /*Ocupando a tela toada*/
}

/* Estilizando o efeito dos textos */
.content {
    max-width: 30.8rem;
    text-transform:capitalize;  
 /* Adicionado para alinhar os textos mais para a esquerda */
}

/* Estilizando o texto h3 */
.content h3 {
    color: #ffff;
    font-size: 2rem;
    text-transform: uppercase; 
    margin-right: 2rem;
   
}
/* Estilizando o texto p */
.content p {
    color: #ffff;
    font-size: 1rem;
    font-weight: 40;
    padding: 1rem 0 ;   
}
/* Estilizando o efeito do botão do primeiro container */
.btn {
    background: var(--main-color);
    color: #0f0e0e;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin: 1rem;
    display: inline-block;
}


/*sessão Sobre Nos*/
.title {
    font-size: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;    
}

.title span{
    font-size: 4rem;
    text-align: center;
    color: var(--main-color);
    text-transform:uppercase;
    margin-bottom: 4rem;
    text-align: center;
}
.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap:2.5rem
}

.about .row .content {
    padding: 1rem;
}

.about .row .content h3 {
    color: #ffff;
    font-size: 2.4rem;
    text-transform: uppercase; 
    margin-right: 5rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 2rem; /* Espaçamento interno */
}

.menu .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
    gap: 1.4rem;
    background-color: var(--bg); /* Cor de fundo dos cards */
    border-radius: 10px; /* Arredondamento dos cantos */
}

.menu .box-container .box img {
    height: 11rem;
}

.menu .box-container .box h3 {
    color: #ffffff; /* Cor do texto do título */
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #ffffff; /* Cor do texto do preço */
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background-color: var(--main-color);
}

.menu .box-container .box:hover > * {
    color: var(--black);
}

/* Estilos para a tabela */
.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 30%; /* Distribuir igualmente o espaço entre os itens */
    max-width: calc(30% - 1rem); /* Largura máxima dos itens com espaçamento */
    border: 1px solid var(--black); /* Borda dos cards */
    border-radius: 1px; /* Arredondamento das bordas */
    padding: 1rem; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    margin: 0rem; /* Espaçamento entre os cards */
}

.card img {
    display: block;
    margin:0 auto 3rem;
    color: #ffffff;
}

.card-header strong {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.card-body p {
    font-size: 1.3rem;
    margin-bottom: 0;
    color: #ffffff;
}

.card:hover {
    background-color: var(--main-color);
    color: var(--black);
}


.review .box-container {
    border: var(--border);
    text-align: center;
    padding: 1rem 2rem;
}

.review .box-container .box p {
    font-size: 1.3rem;
    color: #ffffff; 
    padding: 2rem 0;
    line-height: 1.2;
    font-weight: lighter;
}

.review .box-container .box h3 {
    color: #ffffff; /* Corrigido: 'ffff' para 'ffffff' */
    font-size: 1rem;
    margin: 1rem;
}

.user .review img{
    width: 40px
    height: 40px;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 30%;
    
}
.address {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.footer .share {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--main-color);
}
